In [1]:
person = {
    "first":"Grant",
    "last":"Ferowich",
    "email":"grantsEmail@gmail.com"
}

In [2]:
people = {
    "first": ["Grant"],
    "last": ["Ferowich"],
    "email": ["grantsEmail@gmail.com"]
}

In [3]:
people = {
    "first": ["Grant","Taylor","Rachel"],
    "last":["Ferowich", "Dunleavy","Riverie"],
    "email":["grantsEmail@gmail.com", "taylorDunleavy@gmail.com", "rachelRiverie@gmail.com"]
}

In [4]:
people["email"]

['grantsEmail@gmail.com',
 'taylorDunleavy@gmail.com',
 'rachelRiverie@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

    first      last                     email
0   Grant  Ferowich     grantsEmail@gmail.com
1  Taylor  Dunleavy  taylorDunleavy@gmail.com
2  Rachel   Riverie   rachelRiverie@gmail.com

In [8]:
df['first']

0     Grant
1    Taylor
2    Rachel
Name: first, dtype: object

In [9]:
df['email']

0       grantsEmail@gmail.com
1    taylorDunleavy@gmail.com
2     rachelRiverie@gmail.com
Name: email, dtype: object