In [2]:
person = {
    "first":"Grant",
    "last":"Ferowich",
    "email":"grantsEmail@gmail.com"
}

In [3]:
people = {
    "first": ["Grant"],
    "last": ["Ferowich"],
    "email": ["grantsEmail@gmail.com"]
}

In [4]:
people = {
    "first": ["Grant","Taylor","Rachel"],
    "last":["Ferowich", "Dunleavy","Riverie"],
    "email":["grantsEmail@gmail.com", "taylorDunleavy@gmail.com", "rachelRiverie@gmail.com"]
}

In [5]:
people["email"]

['grantsEmail@gmail.com',
 'taylorDunleavy@gmail.com',
 'rachelRiverie@gmail.com']

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

    first      last                     email
0   Grant  Ferowich     grantsEmail@gmail.com
1  Taylor  Dunleavy  taylorDunleavy@gmail.com
2  Rachel   Riverie   rachelRiverie@gmail.com

In [9]:
df['first']

0     Grant
1    Taylor
2    Rachel
Name: first, dtype: object

In [10]:
df['email']

0       grantsEmail@gmail.com
1    taylorDunleavy@gmail.com
2     rachelRiverie@gmail.com
Name: email, dtype: object

In [11]:
type(df['email'])

pandas.core.series.Series

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.email

0       grantsEmail@gmail.com
1    taylorDunleavy@gmail.com
2     rachelRiverie@gmail.com
Name: email, dtype: object

In [14]:
df[['last','email']]

       last                     email
0  Ferowich     grantsEmail@gmail.com
1  Dunleavy  taylorDunleavy@gmail.com
2   Riverie   rachelRiverie@gmail.com

In [15]:
lastEmail = df[['last','email']]

In [16]:
type(lastEmail)

pandas.core.frame.DataFrame

In [17]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [18]:
df.iloc[0]

first                    Grant
last                  Ferowich
email    grantsEmail@gmail.com
Name: 0, dtype: object

In [22]:
df.iloc[[0,1], 2]

0       grantsEmail@gmail.com
1    taylorDunleavy@gmail.com
Name: email, dtype: object

In [25]:
df.loc[[0,1],'email']

0       grantsEmail@gmail.com
1    taylorDunleavy@gmail.com
Name: email, dtype: object

In [30]:
df.loc[[2],['email','last']]

                     email     last
2  rachelRiverie@gmail.com  Riverie